

.main {
	margin: 0 auto;
	width: 400px;
	height: 400px;
	margin-top: 12%;
	background: wheat;
}

.main_regist {
	position: relative;
	margin: 0 auto;
	margin-top: 30px;
	width: 300px;
	height: 300px;
	background: white;
}

.main_regist input {
	width: 200px;
	height: 30px;
	margin-left: 50px;
	margin-top: 30px;
}

.main_regist .regist {
	width: 100px;
	color: white;
	background: #f37119;
}

.main_regist .regist:hover {
	cursor: pointer;
	background: #f8ab77;
}

a {
	margin-left: 40px;
	text-decoration: none;
}

p {
	font-size: 20px;
	margin-left: 36%;
}
span{
	position: absolute;	
	font-size: 12px;
	color: red;
}
#span01{		
	top: 205px;
	left: 50px;
	display: none;
}
#span02{
	
	top: 39px;
	left: 142px;
	display: none;
}
#span03{
	
	top: 105px;
	left: 170px;
	display: none;
}
#span04{
	
	top: 172px;
	left: 146px;
	display: none;
}
